<div class="tile">
  <h1>Convert Currencies</h1>
  <div class="row">
    <app-dropdown elementId="ddlFrom"  label="From" [form]="(form | formControl: 'fromCurrency')"></app-dropdown>
    <app-dropdown elementId="ddlTo"  label="To" [form]="(form | formControl: 'toCurrency')"></app-dropdown>
    <app-text-box elementId="txtAmount" label="Amount" [type]="inputType.Number" [form]="(form | formControl: 'amount')"></app-text-box>
  </div>
  <div class="row">
    <app-button label="Convert" (click)="convert()"></app-button>
  </div>
  <div class="row">
    @if(result) {
      <div class="row result">
      <p>{{result}}</p>
    </div>
    }
  </div>
</div>