<div class="container">
  <div class="tile">
  <h1>Convert Currencies</h1>
  <div class="row">
    <app-dropdown elementId="ddlFrom"  label="From"></app-dropdown>
    <app-dropdown elementId="ddlTo"  label="To"></app-dropdown>
    <app-text-box elementId="txtAmount" label="Amount" [type]="inputType.Number"></app-text-box>
  </div>
  <div class="row">
    <app-button label="Convert" (click)="convert()"></app-button>
  </div>
  <div class="row">
    @if(result) {
      <div class="result">
      <h2>Result</h2>
      <p>{{result}}</p>
    </div>
    }
  </div>
</div>
</div>
