  button {
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        background-color: var(--medium);
        color: var(--lightest);
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--dark);
        }
    }